/* Hide the toolbar */
#toolbar { visibility: collapse; }

/* Optional: Hide the titlebar */
#titlebar { visibility: collapse; }

#nav-bar { visibility: collapse !important; }

#TabsToolbar { display: none; }

/* Hides sidebar header */
#sidebar-box #sidebar-header {
  display: none !important;
}
